
/* COLORS */
$white : #FFFFFF;
$black : #333333;
$red : rgb(215, 86, 86);
$green : #7cd36c;




body{
    background-color: $green;
    font-family: 'Open Sans', Arial;
}

h1{
    color: $black;
}

p{
    display:block;
    background-color: $white;
    color: $red;
}
